@import "variables.scss";
// @media(min-width:1320px){
//        .portfolio{
//         .project-card{
//             width:100%;
//             height:100%;
//            }
//         li:nth-child(odd){
//             margin-right:calc(#{$container} - 4px - (#{$container}*43/100)*2)$i;
//         }
//        }
// }
@media(max-width:1050px){
    .web-site{
        margin-bottom: 50px;
    }
.small-nav{
    display: flex;
}
    .skills{
        flex-direction: column;
        align-items: center;
    }
    .big-nav{
        display: none;
    }
}

@media(max-width:860px){
    .project-wrapper{
        h1{
            margin-top: 30px !important;
        }
    }
    .portfolio{
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .portfolio li {
        display: block;
        width: 80%;
        height: calc((#{$container}*35/100)*1.7);
    }
    .portfolio li:nth-child(odd){
        margin-right: 0$i;
    }
    .contacts{
        flex-direction: column;
    }
    .preview button{
        padding: 10px 30px;
    }
}
@media(max-width:600px){
    .web-site img{
        width: 60px;
    }
    .about-company-content img, .other-content img{
right: 0$i;
left: 0$i;
    }
    .gamburg{
        text-align: end;
        ul{
            li{
                text-align: start;
            }
        }
    }

    .preview-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .preview{
        h1{
            width: 300px;
            text-align: center;
        }
        flex-direction: column;
        align-items: center;
    }
    .about-company-content, .other-content{
        h2{
            text-align: center;
            margin-bottom: 50px;
        }
    }
    .preview{
        margin-bottom: 100px;
    }
 .other-content {
        flex-direction: column;
    }
    .about-company-content{
        flex-direction: column-reverse;
    }

    .contacts{
        display: flex;
        justify-content: center;
    }
    nav button{
        display: none;
    }
    .info{
        align-items: center;
        flex-direction: column;
        a:first-child{
            border-right: none;
            border-bottom: 3px solid white;
            padding-bottom: 20px;
            margin-right: 0;
        }
    }
}
@media(max-width:500px){
    .project-wrapper button{
        margin-top: 0px$i;
        margin-bottom: 30px$i;
    }
    .small-nav ul li {
        width: auto$i;
    }
}
@media(min-width:1200px){
    .project-card:hover .front{
        transform: rotateY(180deg);
    }
    .project-card:hover .back{
        transform: rotateY(360deg);
    }
    .logo:hover {
        &::before{
        transform: scaleY(1)$i;
        transition:all 0.3s ease;
        }
        &::after{
            transform: scaleX(1)$i;
        transition:all 0.3s ease;
        }
        span{
            transition:all 0.3s ease;
            color: white;
        }
        img{
            transition:all 0.3s ease;
            transform: rotate(180deg);
        }
        h1{
            transition: 0.3s ease;
            color: #DD3471;
        }
    }
}
@media(min-width:1440px){
    .web-site{
        width: 450px$i;
        p{
            width: 100%$i;
        }
    }
}
@media(min-width:1600px){
    .logo h1{
        font-size: 25px;
    }
   .big-nav{
       a{
           font-size: 20px;
       }
   }
}
@media(min-width:1770px){
    .portfolio{
        li:nth-child(odd){
                       margin-right:215px$i;
                   }
    }
}